@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Student

@{
    ViewData["Title"] = "Student_Info Page";
}

<div class="text-center">
    <h1 class="display-4">Your Group Information</h1>
    <div class="container">
        <div class="row">
            <div class="col-3">First Name<div />
            <div class="col-3">@Model.first_name<div />
        <div />

        <div class="row">
            <div class="col-3">Last Name<div />
            <div class="col-3">@Model.last_name<div />
        </div>

        <div class="row">
            <div class="col-3">Student ID<div />
            <div class="col-3">@Model.student_netid<div />
        </div>

        <div class="row">
            <div class="col-3">Section Number<div />
            <div class="col-3">@Model.Student_Group.section_number<div />
            
        </div>

         <div class="row">
             <div class="col-3">Group Number<div />
             <div class="col-3">@Model.Student_Group.group_number<div />
        </div>

         <div class="row">
             <div class="col-3">If any of this information is incorrect email blahblah@byu.edu</div>
        </div>

        <form id="form1" runat="server">
            <div class="row">
                <div class="col-10">
                    <iframe src="https://docs.google.com/spreadsheets/d/1MJ_KrKasUdK4L7vjhXGuWkzff0HA8kJhPIVnHLpxHcU/edit?usp=sharing;headers=false" width="100%" height="500"></iframe>
                </div>
            </div>
        </form>

     <div />

</div>
